In [1]:
from find_fuzzy_duplicates import find_fuzzy_duplicates


import polars as pl
pl.Config.set_tbl_rows(-1)

polars.config.Config

###### Interne dubletter
# Eksterne dubletter med Oslo/Hamar

In [2]:
###### leser inn Data exportert i fra Bergens Access database
# I fra den tabellen som heter "tblInnmeldte"
df_bergen = (pl.read_excel("tblInnmeldte 2025-06-12.xlsx")
    # Vet ikke hvorfor dette blir gjort, men det er det som skjer i access databasen "qryMedlemmer" -
    # som er utgangspunkt for alle data som vises i Access
    # uten filter finnes 333 medlemmer, mens med filter finnes 284 medlemmer.
    # det er disse som har vært utgangspunkt for medlems opptellig
    .filter(pl.col("POSTNR").is_between(pl.lit("100"), pl.lit("9000"), closed="both"))
)
#print(df_bergen.select("MedlemID", "FORNAVN", "EFTERNAVN", "ADRESSE", "POSTNR").sort(["FORNAVN", "EFTERNAVN"]))

Could not determine dtype for column 43, falling back to string

In [6]:
duplicates_found = find_fuzzy_duplicates(
        df=df_bergen,
        columns=["FORNAVN", "EFTERNAVN"],
        columns_to_view=["Kategori","RegDato" ,"UtmeldtDato", "MedlemID", "ADRESSE", "POSTNR"],
        #columns_to_view=None,
        similarity_threshold=88,
        #blocking_column="POSTNR"
    )
#duplicates_found.select("fuzzy_group","MedlemID", "FORNAVN", "EFTERNAVN", "ADRESSE", "POSTNR")
duplicates_found

shape: (10, 9)
┌────────────┬────────────┬───────────┬──────────┬───┬────────────┬──────────┬────────────┬────────┐
│ fuzzy_grou ┆ FORNAVN    ┆ EFTERNAVN ┆ Kategori ┆ … ┆ UtmeldtDat ┆ MedlemID ┆ ADRESSE    ┆ POSTNR │
│ p          ┆ ---        ┆ ---       ┆ ---      ┆   ┆ o          ┆ ---      ┆ ---        ┆ ---    │
│ ---        ┆ str        ┆ str       ┆ str      ┆   ┆ ---        ┆ i64      ┆ str        ┆ str    │
│ i64        ┆            ┆           ┆          ┆   ┆ date       ┆          ┆            ┆        │
╞════════════╪════════════╪═══════════╪══════════╪═══╪════════════╪══════════╪════════════╪════════╡
│ 0          ┆ Kari       ┆ Berger    ┆ M        ┆ … ┆ null       ┆ 3439     ┆ Gjerdåsveg ┆ 5428   │
│            ┆            ┆           ┆          ┆   ┆            ┆          ┆ en 4       ┆        │
│ 0          ┆ Kari Anna  ┆ Berger    ┆ M        ┆ … ┆ null       ┆ 4592     ┆ Nordahl    ┆ 5094   │
│            ┆            ┆           ┆          ┆   ┆            ┆          ┆ Rolfsensve ┆        │
│            ┆            ┆           ┆          ┆   ┆            ┆          ┆ i 22A      ┆        │
│ 1          ┆ Maria      ┆ Helland   ┆ M        ┆ … ┆ null       ┆ 4492     ┆ Sjkoldvege ┆ 5221   │
│            ┆ Augusta    ┆           ┆          ┆   ┆            ┆          ┆ n 40B      ┆        │
│ 1          ┆ Maria      ┆ Løvland   ┆ UTM      ┆ … ┆ null       ┆ 3628     ┆ Presthaugv ┆ 5521   │
│            ┆            ┆           ┆          ┆   ┆            ┆          ┆ eien 1D    ┆        │
│ 2          ┆ Dina Sofie ┆ Isene     ┆ MB       ┆ … ┆ null       ┆ 3537     ┆ Tørsdalsve ┆ 5574   │
│            ┆ Aeschliman ┆           ┆          ┆   ┆            ┆          ┆ gen 573    ┆        │
│            ┆ n          ┆           ┆          ┆   ┆            ┆          ┆            ┆        │
│ 2          ┆ Oda        ┆ Isene     ┆ MB       ┆ … ┆ null       ┆ 2811     ┆ Tørsdalsve ┆ 5574   │
│            ┆ Sunniva    ┆           ┆          ┆   ┆            ┆          ┆ gen 573    ┆        │
│            ┆ Aeschliman ┆           ┆          ┆   ┆            ┆          ┆            ┆        │
│            ┆ n          ┆           ┆          ┆   ┆            ┆          ┆            ┆        │
│ 3          ┆ Lisbeth    ┆ Sunde     ┆ V        ┆ … ┆ null       ┆ 4578     ┆ Løvåsveien ┆ 5145   │
│            ┆            ┆           ┆          ┆   ┆            ┆          ┆ 70         ┆        │
│ 3          ┆ Lisbeth    ┆ Sundt     ┆ V        ┆ … ┆ null       ┆ 2172     ┆ Gimlebakke ┆ 5052   │
│            ┆            ┆           ┆          ┆   ┆            ┆          ┆ n 18       ┆        │
│ 4          ┆ Amalie     ┆ Wolfe     ┆ MB       ┆ … ┆ null       ┆ 3063     ┆ Johan      ┆ 5081   │
│            ┆ Dobrovólny ┆           ┆          ┆   ┆            ┆          ┆ Hjortsvei  ┆        │
│            ┆            ┆           ┆          ┆   ┆            ┆          ┆ 46         ┆        │
│ 4          ┆ Embla      ┆ Wolfe     ┆ MB       ┆ … ┆ null       ┆ 2622     ┆ Johan      ┆ 5081   │
│            ┆ Dobrovólny ┆           ┆          ┆   ┆            ┆          ┆ Hjortsvei  ┆        │
│            ┆            ┆           ┆          ┆   ┆            ┆          ┆ 46         ┆        │
└────────────┴────────────┴───────────┴──────────┴───┴────────────┴──────────┴────────────┴────────┘

In [4]:
#df_bergen.sort(["FORNAVN", "EFTERNAVN"])